.programmers:hover {
	border-radius: 20px;
	box-shadow: 5px 5px 10px gray;
	background-color: #c5d1c5;
	border: 5px solid #6d5e3d;
}

.hire-btn {
	background-color: goldenrod;
	width: 150px;
	height: 30px;
	border: 1px solid gray;
	border-radius: 5px;
	cursor: pointer;
}
.hire-btn:hover {
	background-color: bisque;
}
