.programmers:hover {
	border-radius: 10x;
	box-shadow: 5px 5px 10px gray;
	background-color: #d6eef5;
	border: 5px solid #000550;
	cursor: pointer;
}

.Team {
	text-align: center;
	padding: 20px;
}

.Logo {
	height: 200px;
	/* width: 100px; */
	display: block;
	margin-left: auto;
	margin-right: auto;
}
